flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"14a28ace.071715","type":"inject","z":"3af82246.3634ae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":840,"wires":[["91cfeffe.565ed"]]},{"id":"91cfeffe.565ed","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":880,"wires":[]},{"id":"c0fabb2d.4abbc8","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":180,"y":600,"wires":[["8c73e33f.cb4c2"]]},{"id":"d322b1cc.74238","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":520,"y":600,"wires":[]},{"id":"8c73e33f.cb4c2","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":600,"wires":[["d322b1cc.74238"]]}]